
<div *ngIf="courierChannel">
    <h2><span>Courier Channel</span> {{courierChannel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Min Weight</span></dt>
        <dd>
            <span>{{courierChannel.minWeight}}</span>
        </dd>
        <dt><span>Max Weight</span></dt>
        <dd>
            <span>{{courierChannel.maxWeight}}</span>
        </dd>
        <dt><span>Nature Of Product</span></dt>
        <dd>
            <span>{{courierChannel.natureOfProduct}}</span>
        </dd>
        <dt><span>Channel</span></dt>
        <dd>
            <div *ngIf="courierChannel.channelId">
                <a [routerLink]="['/channel', courierChannel.channelId]">{{courierChannel.channelName}}</a>
            </div>
        </dd>
        <dt><span>Courier</span></dt>
        <dd>
            <div *ngIf="courierChannel.courierId">
                <a [routerLink]="['/courier', courierChannel.courierId]">{{courierChannel.courierId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'courier-channel/'+ courierChannel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
