<div>
    <h2 id="page-heading">
        <span>Pincode Region Zones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pincode-region-zone" [routerLink]="['/pincode-region-zone/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Pincode Region Zone
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pincodeRegionZones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Region Type</span></th>
            <th><span>Courier Group</span></th>
            <th><span>Source Destination Mapping</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pincodeRegionZone of pincodeRegionZones ;trackBy: trackId">
                <td><a [routerLink]="['/pincode-region-zone', pincodeRegionZone.id, 'view' ]">{{pincodeRegionZone.id}}</a></td>
                <td>
                    <div *ngIf="pincodeRegionZone.regionTypeId">
                        <a [routerLink]="['../region-type', pincodeRegionZone.regionTypeId , 'view' ]" >{{pincodeRegionZone.regionTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pincodeRegionZone.courierGroupId">
                        <a [routerLink]="['../courier-group', pincodeRegionZone.courierGroupId , 'view' ]" >{{pincodeRegionZone.courierGroupName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pincodeRegionZone.sourceDestinationMappingId">
                        <a [routerLink]="['../source-destination-mapping', pincodeRegionZone.sourceDestinationMappingId , 'view' ]" >{{pincodeRegionZone.sourceDestinationMappingId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pincode-region-zone', pincodeRegionZone.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pincode-region-zone', pincodeRegionZone.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pincode-region-zone/'+ pincodeRegionZone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
