<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productVariant">
            <h2><span>Product Variant</span> {{productVariant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Variant Id</span></dt>
                <dd>
                    <span>{{productVariant.variantId}}</span>
                </dd>
                <dt><span>Serviceable</span></dt>
                <dd>
                    <span>{{productVariant.serviceable}}</span>
                </dd>
                <dt><span>Pincode</span></dt>
                <dd>
                    <span>{{productVariant.pincode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-variant', productVariant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
