<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sourceDestinationMapping">
            <h2><span>Source Destination Mapping</span> {{sourceDestinationMapping.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Source Pincode</span></dt>
                <dd>
                    <span>{{sourceDestinationMapping.sourcePincode}}</span>
                </dd>
                <dt><span>Destination Pincode</span></dt>
                <dd>
                    <span>{{sourceDestinationMapping.destinationPincode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/source-destination-mapping', sourceDestinationMapping.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
