<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-source-destination-mapping-heading">Create or edit a Source Destination Mapping</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sourceDestinationMapping.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sourceDestinationMapping.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sourcePincode">Source Pincode</label>
                    <input type="text" class="form-control" name="sourcePincode" id="field_sourcePincode"
                        [(ngModel)]="sourceDestinationMapping.sourcePincode" required/>
                    <div [hidden]="!(editForm.controls.sourcePincode?.dirty && editForm.controls.sourcePincode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sourcePincode?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destinationPincode">Destination Pincode</label>
                    <input type="text" class="form-control" name="destinationPincode" id="field_destinationPincode"
                        [(ngModel)]="sourceDestinationMapping.destinationPincode" required/>
                    <div [hidden]="!(editForm.controls.destinationPincode?.dirty && editForm.controls.destinationPincode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.destinationPincode?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
